*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Lab1
/Fragments
/7Projekt
/Sleep-Tracker-2
/SleepAdviser

app/src/main/res/raw/addi_osa_10.wav
*.m4a
